.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.products-button {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

.my-4 {
  display: flex;
  justify-content: center;
}

.row {
  width: 100%;
}

.col-md-4 {
  width: 100%;
}

.form-control {
  width: 100%;
  max-width: 300px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-item {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-item:last-child {
  .btn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.loginbtn {
  text-align: center;
}
